header{
    background: url(./background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100% !important;
}
.heading{
    display: flex;
    padding: 10px 0px 10px 0px;
    align-items: center;
    justify-content: space-around;
    color: white;
}
.list ul{
    display: flex;
}
.list li{
    padding: 0px 20px 2px 20px;
    list-style: none;

}
@media (max-width:768px) {
    .list ul {
        display: block;
    }
}
.list a:link,.list a:visited {
    background-color: transparent;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .list a:hover,.list a:active {
    background-color: tomato;
  }
  .no-hover a.login:hover {
    background: green !important;
}
.no-hover a.login{
    background-color:rgb(131, 24, 173);
    border: none;
    color:white;
    padding: 10px 20px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}
.descrip{
    text-align: center;
    color: whitesmoke;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    height: 5%;
    background: #f1f1f1;
  }
  
  form.example button {
    float: left;
    width: 20%;
    height: 5%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  .four-box{
      display: flex;
      justify-content: space-evenly;
  }
  .four-box div{
    background-color: rgb(16, 16, 65);
  }
  .content-blck {
    box-shadow: 2px 2px 10px;
    text-align: center;
}
.content-blck img {
    width: 64px !important; height: 64px !important;
}
.content{
    background-color: white !important;
    padding: 26px;
}
.read{
    color:white;
    text-align: center;
    padding: 15px 2px 15px 2px;
}
@media(max-width:768px){
    .four-box{
        display: block;
    }
}
.button{
    text-align: center;
}
.mid-btn{
    color: white;
    background-color: rgb(16, 16, 65);
    border: none;
    padding: 15px 90px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
}
.mid-btn:hover{
    background-color: lightskyblue;
}
.second-sec{
    display: flex;
    justify-content: space-evenly;
}
.sec{
    box-shadow: 2px 2px 10px;
    border-radius:20px ;
}
.last-box{
    background-color: whitesmoke;
    text-align: center;
}
.list1 li{
    list-style: none;
}
.list1 ul{
    line-height: 40px;
}
.list1{
    text-align: left;
}
footer{
    text-align: center;
    background-color: whitesmoke;

}
footer p{
    margin: 10px 0px 0px 0px;
    padding: 0;
}
footer h2{
    margin: 0;
    padding: 0;
}
.butto button{
    background-color:white;
  border-color: rgb(58,32,204);
  color: rgb(58,32,204);
  padding: 10px 36px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
} 
.butto button:hover{
    background-color: skyblue;
}
.butto{
    text-align: center;
}
.butto1 button{
    background-color:rgb(58, 32, 204);
  border-color: rgb(16, 16, 65);
  color:white;
  font-weight: bold;
  padding: 10px 36px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
} 
.butto1 button:hover{
    background-color: skyblue;
}
.butto1{
    text-align: center;
}
.btneco{
    background-color:white;
  border-color: rgb(16, 16, 65);
  color: rgb(16, 16, 65);
  padding: 10px 36px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
}
.btneco{
    background-image: linear-gradient(to right, #2BC0E4 0%, #EAECC6 51%, #2BC0E4 100%);
    margin: -19px;
}

@media (max-width:768px){
    .second-sec{
        display: block;
        }
}